<form #form="ngForm" autocomplete="off">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input
        name="CardOwnerName"
        type="text"
        #CardOwnerName="ngModel"
        [(ngModel)]="service.formData.CardOwnerName"
        class="form-control"
        placeholder="Card Owner Name"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-credit-card"></i>
        </div>
      </div>
      <input
        name="CardNumber"
        type="text"
        #CardNumber="ngModel"
        [(ngModel)]="service.formData.CardNumber"
        class="form-control"
        placeholder="Card Number"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-calendar-alt"></i>
        </div>
      </div>
      <input
        name="ExpirationDate"
        type="text"
        #ExpirationDate="ngModel"
        [(ngModel)]="service.formData.ExpirationDate"
        class="form-control"
        placeholder="MM/YY"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-key"></i>
        </div>
      </div>
      <input
        name="CVV"
        type="password"
        #CVV="ngModel"
        [(ngModel)]="service.formData.CVV"
        class="form-control"
        placeholder="CVV"
      />
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit">
      <i class="fas fa-database"></i>Submit
    </button>
  </div>
</form>
